CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# macOS
.DS_Store


# CMake
build/

# Sublime Text
*.sublime-workspace

# Visual Studio Code
.vscode/

# CLion
.idea/
сmake-build-debug/
сmake-build-release/
сmake-build-minsize/
сmake-build-relwithdebinfo/
сmake-build-coverage/
сmake-build-profile/
сmake-build-asm/
сmake-build-obj/
